
@model FeedbackIndexDTOs
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }



    .numeric {
        text-align: center;
    }

    .center {
        text-align: center;
    }

</style>


<div class="container-fluid">
    <div class="row">
        @for (int i = 0; i < Model.FeedbackListDTOs.Count(); i++)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="https://s.yimg.com/os/creatr-uploaded-images/2020-01/8ed8ded0-30db-11ea-9ffa-63728c0e08f8" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Model.FeedbackListDTOs[i].Product.ProductName</h5>
                        <p class="card-text">@Model.FeedbackListDTOs[i].FeedbackName</p>
                        <a class="btn btn-primary" id="btnUpdate" asp-route-id="@Model.FeedbackListDTOs[i].ProductId" data-id="@Model.FeedbackListDTOs[i].FeedbackId" data-bs-target="#feedback-update" data-bs-toggle="modal"> Update</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<table>
    <thead>
        <tr>
            <th>FeedbackId</th>
            <th class="numeric">FeedbackContent</th>
            <th class="numeric">ProductName</th>


  

            <th class="numeric">Action</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.FeedbackListDTOs.Count(); i++)
        {
            <tr>
                <td>@Model.FeedbackListDTOs[i].FeedbackId</td>
                <td class="numeric">@Model.FeedbackListDTOs[i].FeedbackName</td>
                <td class="numeric">@Model.FeedbackListDTOs[i].Product.ProductName</td>
            


                <td class="numeric currency">
                    <a class="btn btn-primary" id="btnUpdate" asp-route-id="@Model.FeedbackListDTOs[i].ProductId" data-id="@Model.FeedbackListDTOs[i].FeedbackId" data-bs-target="#feedback-update" data-bs-toggle="modal"> Update</a>
                    <a class="btn btn-danger btnDelete" asp-route-id="@Model.FeedbackListDTOs[i].ProductId" data-id="@Model.FeedbackListDTOs[i].FeedbackId" data-bs-target="#feedback-delete" data-bs-toggle="modal"> Delete</a>
                </td>

            </tr>

        }


    </tbody>

</table>


@*Modal used for delete*@
<div class="modal fade" id="feedback-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h1>Delete</h1>
                    <p>Are you sure you want to delete ?</p>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary modalDeleteBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>

@*Modal for Edit*@

<div class="modal fade" id="feedback-update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="feedback-content" style="width:100%">
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_JqueryScriptsPartial");
    }

    <script>
        $(document).ready(function(){
            debugger
            $('#btnUpdate').on("click", function(){
                let id = $(this).data("id");
                $.ajax({
                    type:"Get",
                    url: "/Feedback/UpdateFeedback",
                    data: {"Id": id},
                    success:function(response){
                        $('#feedback-content').html(response);
                    }
                })

            });

            $('.btnDelete').on("click", function(){
                let id = $(this).data("id");
                $('feedback-delete').modal('show');

                $('.modalDeleteBtn').on("click", function(){
                    $.ajax({
                        type:"POST",
                        url: "/Feedback/DeleteFeedback",
                        data: { "FeedbackId": id },
                        success: function(result)
                        {
                            if (result == true) {
                                Toastify({
                                    text: "Deleted Successfully",
                                    duration: 3000,

                                    newWindow: true,
                                    close: true,
                                    gravity: "top", // `top` or `bottom`
                                    position: "right",
                                }).showToast();

                                // Update UI (remove row from table)
                                $('tr[data-id="' + id + '"]').remove();

                                setTimeout(function () {
                                    location.reload(true);
                                }, 3000);


                            } else {
                                Toastify({
                                    text: "Error Whiile deleting",
                                    duration: 3000,

                                    newWindow: true,
                                    close: true,
                                    gravity: "top", // `top` or `bottom`
                                    position: "right",
                                }).showToast();

                                setTimeout(function () {
                                    location.reload(true);
                                }, 3000)

                            }

                        },
                        error: function(result)
                        {

                            Toastify({
                                text: "Delete Failed",
                                duration: 3000,

                                newWindow: true,
                                close: true,
                                gravity: "top", // `top` or `bottom`
                                position: "right",
                            }).showToast();
                        }
                    })
                })

            });


        });


    </script>
}

