
@model CategoryIndexDTOs

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }



    .numeric {
        text-align: center;
    }

    .center {
        text-align: center;
    }

  
</style>
<body>
    <table>
        <thead>
            <tr>
                <th>CategoryId</th>
                <th class="numeric">CategoryName</th>

                <th class="numeric">Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.CategoryListDTOs.Count(); i++)
            {
                <tr>
                    <td>@Model.CategoryListDTOs[i].CategoryId</td>
                    <td class="numeric">@Model.CategoryListDTOs[i].CategoryName</td>


                    <td class="numeric currency">

                        <a class="btn btn-primary" id="btnUpdate" asp-action="Update" asp-controller="Category" asp-route-id="@Model.CategoryListDTOs[i].CategoryId" data-id="@Model.CategoryListDTOs[i].CategoryId" data-bs-target="#category-update" data-bs-toggle="modal"> Update<i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-danger btnDelete" data-ajax="true" asp-action="Delete" asp-controller="Category" data-id="@Model.CategoryListDTOs[i].CategoryId" asp-route-id="@Model.CategoryListDTOs[i].CategoryId" data-bs-target="#category-delete" data-bs-toggle="modal">Delete <i class="fa-sharp fa-solid fa-trash"></i></a>
                    </td>

                </tr>

            }


        </tbody>

    </table>


    @*Modal used for delete*@
    <div class="modal fade" id="category-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                    <h1>Delete</h1>
                    <p>Are you sure you want to delete ?</p>

                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary modalDeleteBtn">Save changes</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal for edit-->
    <div class="modal fade" id="category-update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="category-content" style="width:100%">
                
            
               
            </div>
        </div>
    </div>

    
</body>

@section Scripts {
    <partial name="_JqueryScriptsPartial"/>

    <script>
        $(document).ready(function () {

            //$(".btnUpdate").on("click", function(){
            //    debugger
            //    let id = $(this).data("id");
            //    $('#category-update').modal('show');
            //})



            $("#btnUpdate").on("click", function () {
                let id = $(this).data("id");
                $.ajax({
                    type: "Get",
                    url: "/Category/Update",
                    data: { "id": id },
                    success: function (response) {
                        $('#category-content').html(response);
                    }
                })
            });

            $(".btnDelete").on("click", function(){
                debugger
                let id = $(this).data("id");
                $('#category-delete').modal('show');

                $(".modalDeleteBtn").on("click", function () {
                    $.ajax({
                        type: "POST",
                        url: "/Category/Delete",
                        data: { "CategoryId": id },

                        success: function (result) {
                            if (result == true) {
                                Toastify({
                                    text: "Deleted Successfully",
                                    duration: 3000,

                                    newWindow: true,
                                    close: true,
                                    gravity: "top", // `top` or `bottom`
                                    position: "right",
                                }).showToast();

                                // Update UI (remove row from table)
                                $('tr[data-id="' + id + '"]').remove();

                                setTimeout(function(){
                                    location.reload(true);
                                }, 3000);


                            } else {
                                Toastify({
                                    text: "Error Whiile deleting",
                                    duration: 3000,

                                    newWindow: true,
                                    close: true,
                                    gravity: "top", // `top` or `bottom`
                                    position: "right",
                                }).showToast();

                                setTimeout(function(){
                                    location.reload(true);
                                }, 3000)

                            }

                        },
                        error: function (result) {
                            Toastify({
                                text: "Delete Failed",
                                duration: 3000,

                                newWindow: true,
                                close: true,
                                gravity: "top", // `top` or `bottom`
                                position: "right",
                            }).showToast();
                        }



                    });


                });
            });
               
               

            

        });
    </script>
    }

